<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Foods</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/page.css" th:href="@{/css/page.css}"/>

</head>
<body>

<div class="p-4 mainHeader text-white text-center">
    <h1><a th:href="@{/home}" class="headers" style="color: white;text-decoration: none"> Shopper </a> <img class="mainLogo" src="../static/images/logo.png"
                                                                                                          th:src="@{/images/logo.png}"></h1>

</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark navigation">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/myRecipes}"><img src="../static/images/journal-richtext.svg"
                                                                      th:src="@{/images/journal-richtext.svg}"></a>
                <div class="navText">Recipes</div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/myFoods}"><img src="../static/images/bag.svg"
                                                                      th:src="@{/images/bag.svg}"></a>
                <div class="navText">Foods</div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="calendar.html"><img src="../static/images/calendar-week.svg"
                                                                     th:src="@{/images/calendar-week.svg}"></a>
                <div class="navText">Calendar</div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/myItems}"><img src="../static/images/shop.svg"
                                                                  th:src="@{/images/shop.svg}"></a>
                <div class="navText">Items</div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="list.html"><img src="../static/images/receipt.svg.svg"
                                                                 th:src="@{/images/receipt.svg}"></a>
                <div class="navText">My List</div>
            </li>
        </ul>
    </div>

</nav>

<form th:action="@{/myFoods/save}" method="post" th:object="${food}"
      style="max-width: 500px; margin: 0 auto;">
    <input type="hidden" th:field="*{foodId}">
    <div class="border border-secondary rounded p-3">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Food Name</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{foodName}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Food Description</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{foodDesc}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{price}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Servings</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{servings}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Calories</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{calories}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Carbs</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{carbs}" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Fats</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{fats}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Protein</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{protein}" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Serving Size</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{servingSize}" class="form-control"/>
                <select name="servType" th:field="*{servType}">
                    <option value="Cup">cup(s)</option>
                    <option value="Pound">lb(s)</option>
                    <option value="Grams">g(s)</option>
                    <option value="Ounce">oz.</option>
                    <option value="Fluid Ounce">fl. oz.</option>
                    <option value="Gallon">Gal(s)</option>
                    <option value="Each">ea</option>

                </select>
            </div>

        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">Save</button>
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
        </div>
    </div>

</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
