<!DOCTYPE html>
<title>Daily Food Log</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: myHeader"></div>
<body>
<h2 class="centerDiv">Food Diary For:</h2>




<form th:action="@{/myCalendar/load}" th:method="post" th:object="${data}">
  <div class="centerDiv">
    <span>
    <input type="date" th:field="*{diaryDate}"/>
  </span>
</div>
  <button type="submit">Go To Diary</button>
</form>





<div class="container centerDiv">
  <div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h2><a th:href="@{/myFoods/addToDiary}">Add Food</a></h2>
  </div>
  <div class="col-md-auto">
    <h2><a th:href="@{/myRecipes/addToDiary}">Add Recipe</a></h2>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
