<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Food Diary</title>
<div th:replace="header :: myHeader"></div>

<h2 class="centerDiv mt-4" th:text="'Food Diary For: '+ ${{americanDate}}"></h2>

<form th:action="@{/myCalendar/load}" th:method="post" th:object="${data}">
    <div class="centerDiv m-3">
    <span>
        <input type="date" th:name="diaryDate" th:value="${{selectedDate}}" th:id="diaryDate" >
<button class=" btn-dark"  type="submit">Go To Food Diary</button>
  </span>
    </div>
</form>

<h1 class="centerDiv mb-1">Daily Goals</h1>
<div class="container centerDiv foodGoals mb-3">
<div class="row">
    <div class="leftDiv col">
        <h3 th:text="'Calorie Goal: '+${calGoal}"></h3>
    </div>

    <div class="centerDiv col">
        <div class="progress">
            <div class="progress-bar progress-bar-success goalsBar" role="progressbar"
                 aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${calPercent}+'%'" th:text="${calPercent}+'%'">
            </div>
        </div>
    </div>
    <div class="rightDiv col">
        <h3 th:text="'Remaining Calories: '+${remainingCal}"></h3>
    </div>

</div>
    <div class="row">
        <div class="leftDiv col">
            <h3 th:text="'Carb Goal: '+${carbGoal}"></h3>
        </div>

        <div class="centerDiv col">
            <div class="progress">
                <div class="progress-bar progress-bar-success goalsBar" role="progressbar"
                     aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${carbPercent}+'%'" th:text="${carbPercent}+'%'">
                </div>
            </div>
        </div>
        <div class="rightDiv col">
            <h3 th:text="'Remaining Carbs: '+${remainingCarbs}"></h3>
        </div>

    </div>
    <div class="row">
        <div class="leftDiv col">
            <h3 th:text="'Protein Goal: '+${proteinGoal}"></h3>
        </div>

        <div class="centerDiv col">
            <div class="progress">
                <div class="progress-bar progress-bar-success goalsBar" role="progressbar"
                     aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${proteinPercent}+'%'" th:text="${proteinPercent}+'%'">
                </div>
            </div>
        </div>
        <div class="rightDiv col">
            <h3 th:text="'Remaining Protein: '+${remainingProtein}"></h3>
        </div>

    </div>
    <div class="row">
        <div class="leftDiv col">
            <h3 th:text="'Fats Goal: '+${fatsGoal}"></h3>
        </div>

        <div class="centerDiv col">
            <div class="progress">
                <div class="progress-bar progress-bar-success goalsBar" role="progressbar"
                     aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${fatPercent}+'%'" th:text="${fatPercent}+'%'">
                </div>
            </div>

        </div>
        <div class="rightDiv col">
            <h3 th:text="'Remaining Fats: '+${remainingFats}"></h3>
        </div>

    </div>


</div>





<div class="container centerDiv justify-content-center">
    <div class="row justify-content-center">
        <div class="col">
            <h2><a th:href="@{'/myCalendar/'+${selectedDate}+'/addFood'}">Add Food Today</a></h2>
            <table class="table table-striped table-dark">
                <thead class="thead-dark">
                <tr>
                    <th>Food Name</th>
                    <th>Food Description</th>
                    <th>Price</th>
                    <th>Calories</th>
                    <th>Carbs(g)</th>
                    <th>Fats(g)</th>
                    <th>Protein(g)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="food : ${foodsByDate}">
                    <tr>
                        <td>[[${food.foodName}]]</td>
                        <td>[[${food.foodDesc}]]</td>
                        <td>$[[${food.price}]]</td>
                        <td>[[${food.calories}]] </td>
                        <td>[[${food.carbs}]]</td>
                        <td>[[${food.fats}]]</td>
                        <td>[[${food.protein}]]</td>
                        <td><a class="h4 mr-3" th:href="@{'/myCalendar/'+${selectedDate}+'/'+${food.foodId}+'/delete'}">Remove</a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="col-auto">
            <h2><a th:href="@{'/myCalendar/'+${selectedDate}+'/addRecipe'}">Add Recipe Today</a></h2>
            <table class="table table-striped table-dark">
                <thead class="thead-dark">
                <tr>
                    <th>Recipe Name</th>
                    <th>Recipe Description</th>
                    <th>Calories</th>
                    <th>Carbs</th>
                    <th>Fats</th>
                    <th>Protein</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="recipe : ${listRecipes}">
                    <tr>

                        <td>[[${recipe.recipe_name}]]</td>
                        <td>[[${recipe.recipe_desc}]]</td>
                        <td>[[${recipe.calories}]]</td>
                        <td>[[${recipe.carbs}]] g</td>
                        <td>[[${recipe.fats}]] g</td>
                        <td>[[${recipe.protein}]] g</td>
                        <td>[[${#numbers.formatCurrency(recipe.price)}]]</td>
                        <td><a class="h4 mr-3" th:href="@{'/myCalendar/'+${selectedDate}+'/'+${recipe.recipe_id}+'/recipe/delete'}">Remove</a></td>

                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    Document.getElementById("diaryDate")
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
