<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="myHeader">
    <title>Add Foods</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/page.css" th:href="@{/css/page.css}"/>

    <div class="container-fluid pb-2 mainHeader text-white w-100">
        <div class="row">
            <div class="col leftDiv ">
                   <a class="nav-link active username vertical-center anchorInline" style="color: white;text-decoration: none" th:href="@{/logout}"><u>Logout</u></a>
             </div>
            <div class="col mainHeader centerDiv ">
                <h1><a th:href="@{/home}" class="headers centerDiv" style="color: white;text-decoration: none">Shopper</a> <img  src="../static/images/logo.png"
                                                                                                                       th:src="@{/images/logo.png}"></h1>
            </div>
            <div class="col rightDiv vertical-center">
                <a th:href="@{/users/myGoals}" style="color: white;text-decoration: none">
                <u><span class="username pr-3" th:text="${#authentication.getPrincipal().getUsername()}"></span></u>
                    <img th:src="@{'/images/photos/'+${#authentication.getPrincipal().getUsername()}+'.jpg'}" height="50" width="50" class="rounded-circle">
                </a>
            </div>
        </div>
    </div>



<nav class="navbar navbar-expand-sm bg-dark navbar-dark navigation">
    <div class="container centerDiv">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/myRecipes}"><img src="../static/images/journal-richtext.svg"
                                                                        th:src="@{/images/journal-richtext.svg}"></a>
                <div class="navText" style="color: white">Recipes</div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/myFoods}"><img src="../static/images/bag.svg"
                                                                      th:src="@{/images/bag.svg}"></a>
                <div class="navText" style="color: white">Foods</div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/myCalendar}"><img src="../static/images/calendar-week.svg"
                                                                     th:src="@{/images/calendar-week.svg}"></a>
                <div class="navText" style="color: white">Calendar</div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/myItems}"><img src="../static/images/shop.svg"
                                                                      th:src="@{/images/shop.svg}"></a>
                <div class="navText" style="color: white">Items</div>
            </li>

        </ul>
    </div>

</nav>
</div>
</html>