<!DOCTYPE html>
<title>All Items</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: myHeader"></div>

<div class="container-fluid text-center">


    <h1 class="centerDiv mt-3 pageHeader">My Items</h1>
    <div class="container centerDiv mt-3">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <a class="h3 centerDiv" th:href="@{/addItems}"><button class="btn buttonColor btn-lg">Add New Item</button></a>
            </div>
            <div class="col-md-auto">
                <a class="h3 centerDiv" th:href="@{/myItems}"><button class="btn buttonColor btn-lg">All Items</button></a>
            </div>
        </div>
    </div>


    <div class="container centerDiv mt-5">
        <div>
            <form th:action="@{/myItems}">
                <button class="rightDiv btn-dark" type="submit">Search</button>
                <input class="rightDiv" id="recipeSearch" type="text" name="keyword">
            </form>
            <table class="table table-striped table-dark">
                <thead class="thead-dark">
                <tr>
                    <th>Item Name</th>
                    <th>Item Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item : ${listItems}">
                    <tr>
                        <td class="text-center align-middle">[[${item.itemName}]]</td>
                        <td class="text-center align-middle">[[${item.itemDesc}]]</td>
                        <td class="text-center align-middle">$[[${item.price}]]</td>

                        <td class="text-center align-middle">
                            <a class="h4 mr-3" th:href="@{'/myItems/edit/' +${item.itemId}}"><img th:src="@{/images/editIcon.svg}" height="32px" width="32px"></a>
                            <a class="h4" th:href="@{'/myItems/delete/' +${item.itemId}}"><img th:src="@{/images/deleteButton.svg}"></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
