<!DOCTYPE html>
<title>My Recipes</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: myHeader"></div>


  <h1 class="centerDiv mt-3 pageHeader">My Recipes</h1>
  <div class="container centerDiv mt-3">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <a class="h3" th:href="@{/myRecipes/new}">Add New Recipe</a>
      </div>
      <div class="col-md-auto">
        <a class="h3" th:href="@{/myRecipes}">All Recipes</a>
      </div>
    </div>
  </div>




  <div class="container centerDiv mt-5">
  <div>
    <div class="pb-3">
      <form th:action="@{/myRecipes/personal}">
      <button class="rightDiv btn-dark" type="submit">Search</button>
      <input class="rightDiv" id="recipeSearch" type="text" name="keyword">
    </form>
    </div>
    <table class="table table-striped table-dark">
      <thead class="thead-dark">
      <tr>
        <th>Recipe Name</th>
        <th>Recipe Description</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="recipe : ${listRecipes}">
        <tr>

          <td class="text-center align-middle">[[${recipe.recipeName}]]</td>
          <td class="text-center align-middle">[[${recipe.recipeDesc}]]</td>

          <td class="text-center align-middle">
            <a class="h4 mr-3" th:href="@{'/myRecipes/edit/' +${recipe.recipeId}}"><img th:src="@{/images/editIcon.svg}" height="32px" width="32px"></a>
            <a class="h4" th:href="@{'/myRecipes/delete/' +${recipe.recipeId}}"><img th:src="@{/images/deleteButton.svg}"></a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
