<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h1>Manage Users</h1></div>
    <div class="m-2">
        <a class="h3" th:href="@{/users/new}">Add New User</a>
    </div>
    <div>
        <table class="table table-striped table-dark">
            <thead class="thead-dark">
            <tr>
                <th>Food Name</th>
                <th>Food Description</th>
                <th>Price</th>
                <th>Calories</th>
                <th>Carbs</th>
                <th>Fats</th>
                <th>Protein</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="food : ${listFoods}">
                <tr>
                    <td>[[${food.foodName}]]</td>
                    <td>[[${food.foodDesc}]]</td>
                    <td>$[[${food.price}]]</td>
                    <td>[[${food.calories}]] </td>
                    <td>[[${food.carbs}]] g</td>
                    <td>[[${food.fats}]] g</td>
                    <td>[[${food.protein}]] g</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/myFoods/edit/' +${food.foodId}}">Edit</a>
                        <a class="h4" th:href="@{'/myFoods/delete/' +${food.foodId}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>